<form class="ui form" onsubmit="return false" id="form">
	<div class=" ui text container" style="margin-bottom:2%">
		<input type="text" id="t1" autofocus=autofocus placeholder="Gist heading" />
	</div>
	<div class="ui text container" style="margin-bottom:2%">
		<button style="width:100%;margin:auto" class="ui primary blue button" id="but" onclick="addGist.create()">Create Gist</button>
	</div>
</form>
