<form id="form" class="ui form" onsubmit="return false">
	<div class=" ui text container" style="margin-bottom:2%">
		<select id="sel" class="ui floating fluid search dropdown"></select>
	</div>
	<div class=" ui text container" style="margin-bottom:2%">
		<button class="ui primary blue button" onclick="gistDelete.delGist()">Delete</button>
		<button class="ui primary blue button" onclick="gistDelete.gistDo()">Preview</button>
		<hr>
	</div>
	<div class="ui text container" style="margin-bottom:2%">
		<h1 id="gistheading"></h1>
	</div>
	<div class="ui text container" style="margin-bottom:2%">
		<div class="ui segments" id="display">
		</div>
	</div>
</form>
