<form id="form" class="ui form" onsubmit="return false">
	<div class=" ui text container" style="margin-bottom:2%">
		<select class="ui floating fluid search dropdown" id="sel">
		</select>
	</div>
	<div class=" ui text container" style="margin-bottom:2%">
		<button style="width:100%;margin:auto" class="ui primary blue button" onclick="idGetter.doit()">Get ID</button>
		<hr>
	</div>
</form>
