<section class="container login-form">
	<section>
		<form method="post" action="" role="login">
			<img src="../static/styles/images/logo.png" alt="logo" class="img-responsive" />

			<div class="form-group">
				<input type="text" name="username" required class="form-control" placeholder="username" />
				<span class="glyphicon glyphicon-user"></span>
			</div>

			<div class="form-group">
				<input type="password" name="password" required class="form-control" placeholder="password" />
				<span class="glyphicon glyphicon-lock"></span>
			</div>

			<button type="submit" name="go" id="subm" class="btn btn-primary btn-block" onclick="registerform.registersubbutton()">Register Now</button>

			<p onclick="registerform.logmessageclick()">Already registered? Click here to login.</a>
		</form>
	</section>
</section>
