<form id="form" onsubmit="return false">
        <select id="sel1"></select>
        <select id="sel2">
            <option value="public">public</option>
            <option value="private">private</option>
        </select>
        <button id="but1" onclick="g()">Set Privacy</button>
</form>

