<form id="form" class="ui form" onsubmit="return false">
	<div class=" ui text container" style="margin-bottom:2%">
		<input type="text" autofocus=autofocus placeholder="Enter Gist ID" id="inp" name="inp">
	</div>
	<div class=" ui text container" style="margin-bottom:2%">
		<button id="but1" style="width:100%;margin:auto" class="ui primary blue button" onclick="gistIdView.doit()">Submit</button>
		<hr>
	</div>
	<div class="ui text container" style="margin-bottom:2%">
		<h1 id="gistheading"></h1>
	</div>
	<div class="ui text container" style="margin-bottom:2%">
		<div class="ui segments" id="display">
		</div>
	</div>
</form>
